{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
    <!-- <style>
        .img-container {
            text-align: center;
        }
    </style>
    <div class = "img-container">
        <img src="/static/images/dance.png" alt="dance" style="width:60%"> 
    </div> -->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Drama ID</th>
                <th>Drama Name</th>
                <th>Show List</th>
            <tr>
        </thead>
        <tbody>
            {% for drama_id, content in ugc_content.items() %}
            <tr>
                <td>{{ drama_id }}</td>
                <td>{{ content.drama_name }}</td>
                <td>{{ content.show_list }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}