{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <table class="table table-striped" id="drama_table">
        <thead>
            <tr>
                <th>Drama ID</th>
                <th>Drama Name</th>
                <th>Show List</th>
                <th>Operation</th>
            <tr>
        </thead>
        <tbody>
            {% for drama_id, metadata in drama_metadata.items() %}
            <tr>
                <td>{{ drama_id }}</td>
                <td>{{ metadata.drama_name }}</td>
                <td>{{ metadata.show_list }}</td>
                <td><button type="submit" class="btn abandonButton">Abandon</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#drama_table').on('click', '.abandonButton', function(events){
            var drama_id = $(this).closest('tr').find('td').eq(0).html(); 
            $(this).closest('tr').remove();
            $.ajax({
                url: '/drama/abandon',
                type: 'DELETE',
                data: {'drama_id' : drama_id},
                success: function(response) {
                    console.log(response);
                }
            });
        });
    });
</script>
{% endblock %}